@import "tailwindcss";

:root {
  --color-primary: #00ff84;
  --color-primary-v1: #002333;
  --color-secondary-text-v1: #7b7b7b;
  --color-secondary-text-v2: #3722d3;
  --color-secondary-text-v3: #2D2D2D;
  --color-secondary-text-black-v1: #0E0E0E;
  --color-primary-border: #9a9a9a;
  --color-light-green : #E3FFF1;
  --color-light-purple : #DBD7FF;
  --color-light-yellow : #FFF4D9;
  --color-mid-yellow : #FFC023;
  --color-light-gray : #222
}

.custom-text-style-search .ant-input {
  font-family: "Poppins" !important ;
  font-weight: 400 !important;
  font-size: 14px !important;
  letter-spacing: 2% !important;

}

.custom-text-style-search::placeholder {
  font-family: "Poppins";
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 130% !important;
  letter-spacing: 2% !important;
  opacity: 1 !important;
  color: var(--color-secondary-text-v1);
}