@import "tailwindcss";
:root {
  --color-primary: #00ff84;
  --color-primary-text: #002333;
  --color-secondary-text-v1: #7b7b7b;
  --color-secondary-text-v2: #3722d3;
  --color-primary-border: #9a9a9a;
  --color-secondary-border: #9a9a9a;
}
