.custom-flex-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card styles */
.course-card {
  background-color: #181818;
  border-radius: 0.75rem;
  max-width: 291px;
  max-height: 362px;
  height: 362px;
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

/* Category button styles */
.category-button {
  padding: 0.5rem 1.25rem;
  border-radius: 9999px;
  border: 1px solid var(--color-light-gray);
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.category-button:hover {
  background-color: var(--color-light-gray);
}

.category-button.active {
  background-color: var(--color-primary);
  color: black;
  border: none;
}

/* Stats section divider */
.stats-divider {
  height: 4rem;
  border-right: 1px solid #444;
}

/* Hero section container */
.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

/* Features card container */
.features-card-container {
  background-color: white;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .features-card-container {
    flex-direction: row;
  }
}
